/* 固定網頁大小 1920x1080 */
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

/* 背景影片與圖片的樣式 */
.background-video,
.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.background-video {
    z-index: 0;
}

.background-image {
    z-index: 1;
}

/* 按鈕樣式 */
button {
    position: absolute;
    top: 1.8518518518518518%;
    right: 1.0416666666666666%;
    width: 2.6041666%;
    height: 4.629629629%;
    background: url('../resource/change.png') no-repeat center center;
    background-size: cover;
    border: none;
    cursor: pointer;
    z-index: 2;
}

button:hover {
    opacity: 0.8; /* 懸停時的透明度 */
}

.chat {
    position: absolute;
    top: 58.54166666666666%;
    right: 14.0625%;
    width: 24.779296%;
    height: 17.62083333333333333%;
    transform: translate(50%, -50%);
    display: none; /* 初始隱藏 */
    opacity: 0;
    transition: opacity 0.1s ease;
    z-index: 2;
}
